body { font-weight : bold;
           background-color: #CCFFFF; }
p { text-indent : 5em; }
h2 { background-color : #CCFFFF;
       color : #6699FF;
       text-align :center;
       text-shadow : 3px 3px 3px #CCFFFF; }
h3 { background-color : #CCFFFF;
       color : #FF00FF;
       text-shadow : 3px 3px 3px #CCFFFF;}
.right { float : right;
              margin : 1px 1px 5px 5px;
              border : 1px solid #000000;
              overflow: auto;
               padding: 3px;
               clear : both;}
.left { float : left;
              margin : 1px 1px 5px 5px;
              border : 1px solid #000000;
              overflow: auto;
              padding: 3px;
              clear : both;}