.button:hover {
    background:  linear-gradient(#006600,#66ff66);
    color:#FFFFFF;
	border:2px solid #4CAF50;
	border-radius:20px;
	font-size: 15px;
}
body{  background:url("backgroundimage.jpg") no-repeat right top,	
				url("backgroundimage1.jpg") no-repeat bottom;
		font-size:20px;
		} 
h2 {font-family:Castellar;
	color:#1a1a1a;
	}
		
.CFCs{ background-color:#b3ffff;}
.human{ background-color:#ccffff;}
.green{ background-color:#e6ffff;}
# ozonelayer {margin-left:200px;}
a{text-decoration:none;
  display:inline;
  background-color:#F3F1BF;
  border-radius:10px;
  box-shadow:9px 9px 9px #828282;
  border-bottom:3px solid green;
  padding:10px;
  font-size: 10px;
  font-weight:bold;}